 #vis-container {
  position: relative;
  width: 980px;
  height: 600px;
  margin-top: 10px;
}

#step1 {
  margin-left: 25px;
}
/*
 All the .annotation-step divs are inside
 * #annotation-steps. z-index ensures annotations
 * stay on top of visualization. */


#annotation-steps {
  position: absolute;
  z-index: 40;
}

#vis-nav {
  z-index: 20;
}

#vis-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: #696969;
} 



.step-container {display: none;}
.step-1 .step-container-1 { display: block; }
.step-2 .step-container-2 { display: block; }
.step-3 .step-container-3 { display: block; }

.annotation {
  position: absolute;
}



    h1 {
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      color: #697fd7;

    }
     h2 {
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      font-size: 18px;
      color: #697fd7;
      margin-top: 90px;
      font-weight: bold;

    }

    body {
      background-color: #e8eea8;
      font-family: Lato;
      color: #696969;
    }

    .note {
      color: #545454;
      font-style: italic;
      font-size: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

    }

    .axis text {
      font-size: 9px;
    }

    

    .axis .labels {
      font-size: 12px;
      letter-spacing: 2px;
    }

    .axis path {
      fill: "none";
      stroke: #fff;
    }

    path {
      fill: none;
      stroke: none;
    }

    .states {
      fill: #333;
    }

    .states :hover {
      stroke: #333333;
      stroke-width: 2.5px;
    }

    .place,
    .place-label {
      fill: #444;
      font-family: Helvetica;
      font-weight: bold;
      color: #545454;
    }

    p {
      font-family: 'Lato', serif;
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }


    text {
      font-family: 'Lato', serif;
      font-size: 12px;
      pointer-events: none;

    }

    .source {
      text-align: left;
      font-size: 10px;
      font-style: italic;
      margin-bottom: 25px;
    }

    p.tooltip_text {
        font: 12px Lato, sans-serif;
        margin: 0 0 .5em;
        color: #666;
    }
    div.tooltip {   
    position: absolute;         
    text-align: center; 
    vertical-align: middle;        
    padding: 5px;               
    background: white; 
    border: 0px;        
    border-radius: 6px;         
    pointer-events: none;         
    }

    .hidden {
      display: none;
    }

    #legend {
      border: none;

    }

    .legend-key path {
      display: none;
    }

    .legend-key text {
      font-size: 1rem;
    }

    .legend-key line {
      stroke: #000;
      shape-rendering: crispEdges;
    }

    /*Thanks to https://github.com/lvonlanthen/data-map-d3 */
    .YlGnBu .q0-9{fill:#BC4963}
    .YlGnBu .q1-9{fill:#C16579}
    .YlGnBu .q2-9{fill:#d099a6}
    .YlGnBu .q3-9{fill:#D3D3D3}
    .YlGnBu .q4-9{fill:#c8e2de}
    .YlGnBu .q5-9{fill:#A4D0C8}
    .YlGnBu .q6-9{fill:#74CDBD}
    .YlGnBu .q7-9{fill:#45CAB2}
    .YlGnBu .q8-9{fill:#37a18e}


    g.features {
      stroke: #d8d8d8;
      stroke-width: 0.5;
    }

    .caption {
      fill: #696969;
      size: 200%;
      letter-spacing: 2px;
      font-weight: bold;


    }

    .category-label {
      margin-right: 5px;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #45cab2;
      stroke-width: 2px;
      shape-rendering: crispEdges;
      opacity: 0.7;
    }

    .axis .minor line {
      stroke: #45cab2;
      stroke-dasharray: 2,2;
      opacity: 0.5;
    }

    .axis .no-minor line {
      stroke: #45cab2;
      stroke-dasharray: 2,2;
      opacity: 0;
    }


    .point {
      stroke: none;
      fill: none;
      opacity: 0.5;
    }

    .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
    }
    .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    }

